@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;500&display=swap');

html {
  font-size: 62.5%;
}

$backgroundColor: #253141;

body {
  overflow: overlay; 
  background: $backgroundColor;
}
body::-webkit-scrollbar { width: 8px; }
body::-webkit-scrollbar-thumb {
    background-color:#171f29;
    border-radius: 4px;
    border: 1px solid #333;
}

.title {
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  color: white;
  font-size: 5rem;
  user-select: none;
  pointer-events: none;
}

.fundamental-info-wrapper {
  display: flex;
  flex-direction: column;
}

.game-name-wrapper, .export-dir-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto 2rem auto;
  padding-right: 15rem;
}

.output {
  width: 100rem;
  height: 40rem;
  background: #2c3e52;
  border-radius: .3rem;
  color: #b8c1ec;
  font-size: 1.3rem;
  font-family: 'Mitr', sans-serif;
  font-weight: 300;
  margin: 0 auto 3rem auto;
  padding: .7rem 1.2rem;
}

$runButtonColor: #6eb877;

.run-btn-wrapper {
  width: 11rem;
  height: 4rem;
  margin: 0 auto 3rem auto;
}

.run-btn {
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: $runButtonColor;
  margin: 0 auto;
  width: 11rem;
  height: 4rem;
  border: solid 0.2rem $runButtonColor;
  border-radius: .4rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: background, color;
  transition-timing-function: ease-in-out;
  &:hover {
    background: $runButtonColor;
    color: whitesmoke;
  }
}

.profile-wrapper-add-btn-wrapper {
  background: #202937;
  padding-bottom: 3rem;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 3rem 3rem 3rem 5rem;
}

.profile-title-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.profile-title {
  font-family: 'Paytone One', sans-serif;
  color: white;
  font-size: 2.5rem;
  margin: auto 0 auto 8rem;
  pointer-events: none;
}

.delete-btn-wrapper {
  width: 7rem;
  height: 2.6rem;
  margin: auto 1rem;
}

$deleteButtonColor: #bd4a4f;

.delete-btn {
  width: 7rem;
  height: 2.6rem;
  border: solid 0.2rem $deleteButtonColor;
  border-radius: .4rem;
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: $deleteButtonColor;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: background, color;
  transition-timing-function: ease-in-out;
  &:hover {
    background: $deleteButtonColor;
    color: whitesmoke;
  }
}

.profile-name {
  color: white;
  background: #E0C8B7;
}

.profile-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.input-name {
  display: inline;
  text-align: end;
  font-family: 'Mitr', sans-serif;
  font-size: 1.3rem;
  color: #b8c1ec;
  width: 7rem;
  pointer-events: none;
}

.fi {
  width: 11rem;
}

.profile-input-text {
  height: 3rem;
  width: 30rem;
  font-size:1.3rem;
  border-radius: 4px;
  margin-left: 1.3rem;
  background: #f5f5f5;
  border: none;
  &:focus {
    background: white;
    outline: none;
  }
}

.num {
  width: 12rem;
}

.profile-input-cb {
  font-size:1.3rem;
  width: 2rem;
  height: 2rem;
  margin-left: 1.3rem;
  &:focus {
    border: none;
    outline: none;
  }
}

.add-btn-wrapper {
  width: 11rem;
  height: 4rem;
  margin: 0 auto;
}

$addButtonColor: #6eb877;

.add-btn {
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: $addButtonColor;
  margin: auto;
  width: 11rem;
  height: 4rem;
  border: solid 0.2rem $addButtonColor;
  border-radius: .4rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: background, color;
  transition-timing-function: ease-in-out;
  &:hover {
    background: $addButtonColor;
    color: whitesmoke;
  }
}